*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1: #2e664e;
    --color2: #afead0;
    --color3: #67e6af;
    --color4: #4d665B;
    --color5: #51b388;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--color3), var(--color2));
    
}

h1{
    margin-top: -100px;
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 50px;
}

main{
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--color1), var(--color4));
    color: var(--color2);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px black;
}

.nameArea > label, .senhaArea > label{
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    width: 80px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--color5);
}

a:visited{
    color: var(--color5);
}

.buttonArea{
    margin: 10px;
    
}

.buttonArea > input, .buttonArea > button{
    width: 65px;
    height: 25px;
    margin: 1px;
    position: relative;
    left: 92px;
    border-style: none;
    border-radius: 5px;
    color: var(--color5);
    background-color: var(--color4);
}

.buttonArea > input:hover, .buttonArea > button:hover{
    background-color: var(--color2);
    color: var(--color4);
    transition-delay: 0.1s;
}

.buttonArea > input {
    cursor: pointer;
}