*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1: #2e664e;
    --color2: #afead0;
    --color3: #67e6af;
    --color4: #4d665B;
    --color5: #51b388;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--color3), var(--color2));
    
}

header{
    background-image: linear-gradient(to bottom, var(--color5) , var(--color1));
    min-height: 150px;
    color: var(--color3);
    text-align: center;
    text-shadow:  2px 2px 0px rgba(0,0,0,0.466);
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav{
    background-color: var(--color1);
    margin-top: 60px;
    min-height: 50px;
    display: flex;
    align-items: start;
}

nav > a {
    color: var(--color3);
    padding: 15px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
    
}

nav > div { 
    display: none;
}

nav > a:hover{
    background-color: var(--color5);
    color: var(--color2);
    border-radius: 5px;
    transition: 0.3s;
}

main > h1{
    margin-top: -100px;
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 50px;
}

.cadH1{
    margin-top: -20px;
    margin-bottom: 20px;
}

main{
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--color1), var(--color4));
    color: var(--color2);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px black;
}

.mainPainel{
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--color1), var(--color4));
    color: var(--color2);
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px black;
}

.nameArea > label, .senhaArea > label, .emailArea > label, .empArea > label{
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    width: 80px;
    font-weight: bold;
}

.nameAreaDelet > label{
    width: 150px;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--color5);
}

a:visited{
    color: var(--color5);
}

.buttonArea{
    margin: 10px;
    
}

.buttonArea > input, .buttonArea > button{
    width: 65px;
    height: 25px;
    margin: 1px;
    position: relative;
    left: 92px;
    border-style: none;
    border-radius: 5px;
    color: var(--color5);
    background-color: var(--color4);
}

.buttonAreaAtual > input{
    width: 130px;
    height: 35px;
    margin: 2px;
    font-size: 1em;
    border-style: none;
    border-radius: 5px;
    color: var(--color5);
    background-color: var(--color4);
}

.buttonAreaAtual{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}

.buttonArea > input:hover, .buttonArea > button:hover , .buttonAreaAtual > input:hover{
    background-color: var(--color2);
    color: var(--color4);
    transition: 0.4s;
}

.buttonArea > input, .buttonAreaAtual > input {
    cursor: pointer;
}

main > p{
    font-size: 1.5em;
}

.mostClient {
    font-size: 1.2em;
    list-style-type: none;
    
} 
.mostClient > li {
    margin: 10px;
}

@media (max-width:700px){
    nav > a {
        display: none;
    }
    nav > div {
        display: flex;
        align-items: start;
    }
    nav > div > a {
        color: var(--color3);
        padding: 15px;
        text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
    }
    nav > div > a:hover{
        background-color: var(--color5);
        color: var(--color2);
        border-radius: 5px;
        transition: 0.3s;
    }
}